<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
        }

        th,
        td {
            border: 1px solid #444444;
        }

        #board_title:focus {
            outline: none;
        }

        #board_content:focus {
            outline: none;
        }

        #board_title {
            border: none;
            position: relative;
            width: 100%;
        }

        #board_content {
            border: none;
            position: relative;
            width: 99%;
            resize: none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="client.js"></script>
</head>

<body>

    <table>
        <tr>
            <td width="50px">글번호</td>
            <td width="50px">글제목</td>
            <td width="250px">글내용</td>
            <td width="50px">글쓴이</td>
            <td width="50px">조회수</td>
        </tr>
        <% for(let i = 0; i<result.length; i++) { %>
        <tr>
            <td width="50px"><%=result[i].bo_no%></td>
            <td width="50px"><%=result[i].title%></td>
            <td width="250px"><%=result[i].content%></td>
            <td width="50px"><%=result[i].name%></td>
            <td width="50px"><%=result[i].hit%></td>
        </tr>
        <%} %>
    </table>
</body>

</html>